<h1><%= @task.name %></h1>
<h4>Deadline:</h4>
<p><%= @task.deadline.strftime "%B %d, %Y" %></p>

<p>Description</p>

<p><%= @task.description %></p>


<p><%= link_to 'Edit', edit_category_task_path(@category, @task) %></p>

<p><%= link_to 'Back', category_tasks_path(@category) %></p>

